<div class="container">

    <div class="container users-container">
        <table class="table table-bordered table-striped table-hovered table-condensed" ng-show="!vm.details">
             <th>Name</th>
             <th>Age</th>
             <th>Actions</th>
             <tr ng-repeat="user in vm.users">
                 <td style="cursor:pointer;" ng-if="!editing" ng-click="vm.showDetails(user)">{{user.name}}</td>
                 <td style="cursor:pointer;" ng-if="!editing">{{user.age}}</td>
                 <td ng-if="editing">
                     <input type="text" ng-model="user.name" class="form-control" style="width:250px;">
                 </td>
                 <td ng-if="editing">
                     <input type="text" ng-model="user.age" class="form-control" style="width:250px;">
                 </td>
                 <td>
                     <button class="btn btn-warning" ng-click="editing=!editing" ng-show="!editing">Edit</button>
                     <button class="btn btn-success" ng-click="vm.updateUser(user);editing=false;" ng-show="editing">Save</button>
                     <button class="btn btn-primary" ng-show="editing" ng-click="editing=!editing">Back</button>
                     <button class="btn btn-danger" ng-show="!editing" ng-click="vm.removeUser(user)">Delete</button>
                 </td>
             </tr>
        </table>
        <button class="btn btn-primary btn-md" ng-show="!vm.details" ng-click="addUser=!addUser">Add a user</button>
    </div>
    <div class="container create-users" ng-hide="!addUser">
        <div class="form-group">
            <label for="name">Name</label>
            <input required type="text" id="name" class="form-control" style="width:300px;" ng-model="vm.user.name">
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input required type="number" id="age" class="form-control" style="width:300px;" ng-model="vm.user.age">
        </div>
        <button class="btn btn-success" ng-click="vm.addUser(vm.user)" ng-disabled="!vm.user.name||!vm.user.age">Add</button>
    </div>

    <div class="container details-container" ng-if="vm.details===true">
        <div class="jumbotron">
            <button class="close" style="font-size:50px;" ng-click="vm.details=false;" ng-show"vm.details">X</button>
            <h3>You are viewing details of #{{vm.detailedUser._id}}</h3>
            <h3>Name:{{vm.detailedUser.name}}</h3>
            <h3>Age:{{vm.detailedUser.age}}</h3>
        </div>
        
    </div>
</div>